.dllastestversion{border:4px solid #efefef;width:500px}
.dllastestversion td {background-color:#ddffdd;white-space:normal !important;}

.dloldversion{border:4px solid #efefef;width:500px}
.dloldversion td {background-color:#ffdddd;white-space:normal !important;}
